ul {
    list-style-type: none;

}

li{
    display: inline-block;
}

.NavbarListItem{
    color:grey;
    padding-top:2%;
}

.NavbarListItem a:hover{
    color:grey;
}

.NavbarListItem a:active{
    color:grey;
}